<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} - Jawa Assessoria Contabil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="app/view/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="app/view/css/style.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="header-bar-full">
            <div class="header-bar">
                <div class="row-fluid">
                    <div class="span12" data-original-title="" title="">
                        <div class="span4" data-original-title="" title="">
                            <p class="text-left header-info-left">
                                Bem Vindo, {{nome}}
                            </p>
                        </div>
                        <div class="span8" data-original-title="" title="">
                            <p class="text-right header-info-right">
                                <a href="perfil.php" class="header-info-myaccount">Minha conta</a>
                                <a href="logout.php">Logout</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-full">
            <div class="header"></div>
        </div>
        <div class="body-full">
            <div class="body">
                <div class="menu-left-geral">
                    <div class="menu-left-title">Menu Principal</div>
                    <div class="menu-left">
                        <div class="menu-item">
                            <div class="menu-item-icon-home"></div>
                            <div class="menu-item-desc">
                                <a href="index.php">Início</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        {% if user.type == 1 %}
                        <div class="menu-item">
                            <div class="menu-item-icon-group"></div>
                            <div class="menu-item-desc" style="margin-top: 12px;">
                                Usuários
                                <ul>
                                    <li>
                                        <a href="usuarioListar.php">Usuários</a>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <a href="usuarioListar.php">Listar</a>
                                            </li>
                                            <li>
                                                <a href="usuarioNovo.php">Novo</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="groupListar.php">Grupos</a>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <a href="groupListar.php">Listar</a>
                                            </li>
                                            <li>
                                                <a href="groupNovo.php">Novo</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        {% endif %}
                        <div class="menu-item">
                            <div class="menu-item-icon-cliente"></div>
                            <div class="menu-item-desc" style="margin-top: 12px;">
                                <a href="clienteListar.php">Clientes</a>
                                <ul>
                                    <li>
                                        <a href="clienteListar.php">Listar</a>
                                    </li>
                                    <li>
                                        <a href="clienteNovo.php">Novo</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="menu-item">
                            <div class="menu-item-icon-docs"></div>
                            <div class="menu-item-desc" style="margin-top: 12px;">
                                Documentos
                                <ul>
                                    <li>
                                        <a href="documentoListar.php">Documentos</a>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <a href="documentoListar.php">Listar</a>
                                            </li>
                                            <li>
                                                <a href="documentoNovo.php">Novo</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="categoriaListar.php">Categorias</a>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <a href="categoriaListar.php">Listar</a>
                                            </li>
                                            <li>
                                                <a href="categoriaNovo.php">Novo</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="content-geral">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="menu-right-geral">
                    <div class="menu-right-title">
                        Acesso Rápido
                    </div>
                    <div class="menu-right">
                        <ul>
                            <li>
                                <a href="http://www.receita.fazenda.gov.br/">Receita Federal</a>
                            </li>
                            <li>
                                <a href="http://www.mpas.gov.br/">Previdência Social</a>
                            </li>
                            <li>
                                <a href="http://www.mtb.gov.br/">Ministério do Trabalho</a>
                            </li>
                            <li>
                                <a href="http://www.protesto.com.br/">Consulta Protesto</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footer-full">
            <div class="footer">
                <div class="row-fluid">
                    <div class="span12" data-original-title="" title="">
                        <div class="span2 offset2" style="margin-top: 20px;">
                            <ul>
                                <li><a href="#">Início</a></li>
                                <li><a href="#">Usuários</a></li>
                                <li><a href="#">Grupos</a></li>
                                <li><a href="#">Clientes</a></li>
                                <li><a href="#">Documentos</a></li>
                                <li><a href="#">Categorias</a></li>
                            </ul>
                        </div>
                        <div class="span2" style="margin-top: 20px;">
                            <ul>
                                <li><a href="#">Receita Federal</a></li>
                                <li><a href="#">Previdência Social</a></li>
                                <li><a href="#">Ministério do Trabalho</a></li>
                                <li><a href="#">Consulta Protesto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% block footer %} {% endblock %}
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="app/view/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>