<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Jawa Assessoria Contabil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="app/view/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        {% block head %} {% endblock %}
        <div class="row-fluid">
            <div class="span4 offset4" data-original-title="" title="" style="background: #ccc;">
                <h1>Hello, world!</h1>
                {% block body %} {% endblock %}
            </div>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="app/view/bootstrap/js/bootstrap.min.js"></script>
        {% block footer %} {% endblock %}
    </body>
</html>