{% extends "/app/view/base.html" %}

{% block title %}Listagem de Categorias{% endblock %}

{% block body %}
<div class="span8" data-original-title="" title="">
    <h3>Listagem de Categorias</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Ativo</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.parent }}</td>
                <td>
                    {% if item.active == 1 %}
                        <button class="btn btn-success" type="button">Ativo</button>
                    {% endif %}
                    {% if item.active == 0 %}
                        <button class="btn btn-danger" type="button">Inativo</button>
                    {% endif %}
                </td>
                <td>
                    <a href="categoriaEditar.php?id={{ item.id }}"><i class="icon-edit"></i></a>
                    <a href="categoriaDeletar.php?id={{ item.id }}"><i class="icon-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}