{% extends "/app/view/base.html" %}

{% block title %}Nova Categoria{% endblock %}

{% block body %}
<div class="span8" data-original-title="" title="">
    <h3>Nova Categoria</h3>
    
    <form action="" method="POST" enctype="multipart/form-data">
        <label>Nome</label>
        <input name="name" type="text"/>
        <label>Categoria</label>
        <select name="parent">
            <option value="0">Principal</option>
            {% for item in cat %}
                <option value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <label>Imagem</label>
        <input type="file" name="image" class="input "/>
        <p>Ativo</p>
        <label class="radio">
            <input type="radio" checked="checked" value="1" id="optionsRadios1" name="active" />
            Sim
        </label>
        <label class="radio">
            <input type="radio" value="2" id="optionsRadios2" name="active" />
            Não
        </label>
        <input type="submit" value="Enviar" class="btn btn-primary" />
    </form>
</div>
{% endblock %}