{% extends "/app/view/base.html" %}

{% block title %}Editar Documento - {{ doc.name }}{% endblock %}
{% block javascript %}
$(document).ready(function(){
    $( "#datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy"
    });
});
{% endblock %}
{% block body %}
<div class="span8" data-original-title="" title="">
    <h3>Editar Documento - {{ doc.name }}</h3>
    
    <form action="" method="POST" enctype="multipart/form-data">
        <label>Nome</label>
        <input name="name" type="text" value="{{doc.name}}"/>
        <label>Cliente</label>
        <select name="client">
            {% for item in cli %}
                <option value="{{ item.id }}"{% if doc.client == item.id %}selected="selected"{% endif %}>{{ item.name }}</option>
            {% endfor %}
        </select>
        <label>Categoria</label>
        <select name="category">
            <option value="0" {% if doc.category == 0 %}selected="selected"{% endif %}>Principal</option>
            {% for item in cat %}
                <option value="{{ item.id }}" {% if doc.category == item.id %}selected="selected"{% endif %}>{{ item.name }}</option>
            {% endfor %}
        </select>
        <label>Arquivo</label>
        <input type="file" name="archive" class="input "/>
        <label>Data</label>
        <input name="date" id="datepicker" type="text" value="{{doc.date}}"/>
        <p>Ativo</p>
        <label class="radio">
            <input type="radio" {% if doc.active == 1 %} checked="checked" {% endif %} value="1" id="optionsRadios1" name="active" />
            Sim
        </label>
        <label class="radio">
            <input type="radio" {% if doc.active == 0 %} checked="checked" {% endif %} value="0" id="optionsRadios2" name="active" />
            Não
        </label>
        <input type="submit" value="Enviar" class="btn btn-primary" />
        <input type="hidden" name="id" value="{{doc.id}}" />
    </form>
</div>
{% endblock %}