{% extends "/app/view/base.html" %}

{% block title %}Novo Grupo{% endblock %}

{% block body %}
<div class="span8" data-original-title="" title="">
    <h3>Novo Grupo</h3>
    
    <form action="" method="POST">
        <label>Nome</label>
        <input name="name" type="text"/>
        <p>Ativo</p>
        <label class="radio">
            <input type="radio" checked="checked" value="1" id="optionsRadios1" name="active" />
            Sim
        </label>
        <label class="radio">
            <input type="radio" value="2" id="optionsRadios2" name="active" />
            Não
        </label>
        <input type="submit" value="Enviar" />
    </form>
</div>
{% endblock %}