{% extends "/app/view/base.html" %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="span8" data-original-title="" title="">
    {% if docYear %}
        <h3>Documentos - Por Ano</h3>
        <div class="row">
            <ul>
            {% for key,item in docYear %}
            <li><a href="listar-documentos-categoria-ano.php?catId={{ catId }}&ano={{ item }}">{{ item }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <h3>Documentos - Por Ano</h3>
        <div class="row">
            Nenhum documento encontrado!
        </div>
    {% endif %}
</div>
{% endblock %}
