{% extends "/app/view/base.html" %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="span8" data-original-title="" title="">
    <h3>Categorias</h3>
    <div class="row">
    {% for key,item in catList %}
        {% if key != 0 and (key)%3 == 0 %}
            </div>
            <div class="row">
                nova linha
        {% endif %}
            <div class="span2">
                {% if item.hasChild(item.id)%}
                <div style="border: 1px solid #ccc; border-radius: 5px; min-height: 170px;">
                    <div style="height: 120px; position: relative; line-height: 120px;">
                        <a href="?catId={{ item.id }}">
                            <img src="{{item.getWebImage}}" class="img-rounded" style="vertical-align: middle;"/>
                        </a>
                    </div>
                    <p style="text-align: center; padding-top: 5px;">
                        <a href="?catId={{ item.id }}">{{ item.name }}</a>
                    </p>
                </div>
                {% else %}
                <div style="border: 1px solid #ccc; border-radius: 5px; min-height: 170px;">
                    <div style="height: 120px; position: relative; line-height: 120px;">
                        <a href="listar-documentos-categoria.php?catId={{ item.id }}">
                            <img src="{{item.getWebImage}}" class="img-rounded" style="vertical-align: middle;"/>
                        </a>
                    </div>
                    <p style="text-align: center; padding-top: 5px;">
                        <a href="listar-documentos-categoria.php?catId={{ item.id }}">{{ item.name }}</a>
                    </p>
                </div>
                {% endif %}
            </div>
    {% endfor %}
    </div>
    {% if docList %}
        <h3>Documentos - Por Ano</h3>
        <div class="row">
            <ul>
            {% for key,item in docYear %}
            <li><a href="listar-documentos-categoria-ano.php?catId={{ catId }}&ano={{ item }}">{{ item }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}
