{% extends "/app/view/base.html" %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="span8" data-original-title="" title="">
    <h3>Categorias</h3>
    <div class="row">
    {% for key,item in catList %}
        {% if key != 0 and (key)%3 == 0 %}
            </div>
            <div class="row">
                nova linha
        {% endif %}
            <div class="span2">
                <a href="lista-documentos-categoria?={{ item.id }}">
                    <img src="{{item.getWebImage}}" class="img-rounded" />
                </a>
                <div class="span2">
                    <p>
                        <a href="lista-documentos-categoria?={{ item.id }}">{{ item.name }}</a>
                    </p>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}