{% extends "/app/view/base.html" %}

{% block title %}Deletar Cliente - {{ cli.name }}{% endblock %}

{% block body %}
<div class="span8" data-original-title="" title="">
    <h3>Deletar Cliente - {{ cli.name }}</h3>
    
    <p>
        Deseja deletar o cliente <b>{{ cli.name }}</b>?
    </p>
    <form action="" method="POST">
        <input type="hidden" name="id" value="{{cli.id}}" />
        <input type="submit" value="Enviar" class="btn btn-primary" />
        <a href="clienteListar.php" class="btn">Cancelar</a>
    </form>
</div>
{% endblock %}